# Node
node_modules/
pnpm-debug.log*
npm-debug.log*

# Next.js
.next/
out/

# Build artifacts
dist/
build/

# Test app
apps/test/.next/
apps/test/out/

# Turborepo / pnpm store
.pnpm-store/
.turbo/

# Env
.env
.env.local
.env.*.local

# Mac
.DS_Store
